body {
  background-color: #aacccc;

}

h1 {
  text-align: center;
}

.navbar {
  background-color: #dddddd;
}


.users, .rewards {
  margin: 20px;
  padding: 10px;
  padding-left:20px;
  background-color: #dddddd;
  border-radius: 20px;
}
